.container{
    width: 42px ;
    height: 24px;
    border: 1.5px solid #FFD4CA;
    border-radius: 30px ;
    display: flex ;
    justify-content: space-between;
    padding: 2px ;
    align-items: center;
    position: relative;
    cursor: pointer;

}

.icon{
    font-size: 18px;
}

.ball{
    width: 16px;
    height: 16px;
    background-color:#FFD4CA ;
    border-radius: 50%;
    position:absolute;

}